* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(111, 88, 58);
}

.logo {
  color: rgb(204, 198, 198);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.navlinks {
  display: flex;
  justify-content: space-around;
  width: 45%;
  text-decoration: none;
}

.navlinks a {
  color: rgb(204, 198, 198);
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.navlinks li {
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .navlinks {
    width: 85%;
  }
}

.logo a{
  text-decoration: none;

}

h4 a:visited{
color: rgb(204, 198, 198);
}

.navlinks a:hover{
  color:rgb(255, 255, 255);
}

