body{
    background-color: rgb(209, 200, 188)
}

a:visited{
  color: black ;
}

*{
    text-align: center;
    color: rgb(79, 62, 41);
}

a:hover{
    color: rgb(111, 88, 58);
}

li{
    font-size: 18px;
}

h3{
    font-size: 20px;
    font-weight: bolder;
}